<div class=history>
  <h2>
    Commit History
  </h2>
  <ul>
  {{#each history as |commit|}}
    <li>
      <a class="commit" href="/{{ ../context.repoName }}/commit/{{commit.id}}">
        <span class=line1>
          <span>{{ call commit "message" }}</span>
        </span>
        <span class=line2>
          <span>
            {{ call commit "author" }}
          </span>
          <span title="{{ call commit "date" }}">
            {{ call commit "date" }}
          </span>
        </span>
        <span class=clearfloat></span>
      </a>
    </li>
  {{/each}}
  </ul>
</div>