<div
  class="last-commit"
>
  <a class="commit" href="/{{ context.repoName }}/commit/{{ call commitLast "id"}}">
    <span class="line1">
      <span>{{ call commitLast "message" }}</span>
    </span>
    <span class="line2">
      <span>
        {{ call commitLast "author" }}
      </span>
      <span title="{{ call commitLast "date" }}">
        {{ shorten_sha1 (call commitLast "id") }} – {{ dateUTC (call commitLast "date") }}
      </span>
    </span>
    <span class="clearfloat"></span>
  </a>
</div>