<div class="full-commit">
  <div class="commit">
    <span class="line1">
      <span>{{ call context.commit "message" }}</span>
    </span>
    <span class="line2 separated-by-dots">
      <span>
        {{ call context.commit "author" }} authored
        <span class="hastooltip" title="{{ call context.commit "date" }}">
          {{ call context.commit "date" }}
        </span>
      </span>
    </span>
    <span class="clearfloat"></span>
  </div>
  {{!-- removed for now --}}
  <div class="parents">
    {{ call context.commit "parentcount" }} Parent(s):
    {{#each (call context.commit "parents") }}
      <p>
        <a
          href="/{{ ../context.repoName }}/commit/{{ this }}"
        >
          {{ shorten_sha1 this }}
        </a>
      </p>
    {{/each}}
  </div>
</div>

